@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --primary-background: #2e2e2e;
  --secondary-background: #474747;
  --primary-text: #f5f5f5;
  --secondary-text: #a0a0a0;
  --primary-button: #88b04b;
  --secondary-button: #d17a22;
  --primary-accent: #008080;
  --secondary-accent: #f8c43a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  font-family: "Lato", serif;
}

body {
  background-color: var(--primary-background);
}

.navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--secondary-background);
  border-radius: 25px;
  box-shadow: 5px 5px 10px black;
}

.hero {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 30%;
}
.logo {
  height: 100%;
  padding: 0.25vh;
}

.nav-buttons {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button, .login-button {
  background-color: var(--primary-button);
  border: none;
  border-radius: 8px;
  width: 30%;
  height: 80%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875em;
}

.nav-button:hover {
  background-color: var(--primary-accent);
}

.login-button {
  background-color: var(--secondary-button);
  margin-right: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--secondary-accent);
}

.profile-container {
  width: 96vw;
  height: 91vh;
  margin: 2vh 2vw 2vh 2vw;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* border: 1px solid pink; */
}

.profile-section-1 {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-evenly;
}

.profile-section-2 {
  /* border: 1px solid red; */
  background-color: var(--secondary-background);
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
  padding: 1vh 1vw 1vh 1vw;
  margin-top: 2vh;
}

.welcome-text {
  padding: 1vh 1vw 1vh 1vw;
  width: 25vw;
  background-color: var(--secondary-background);
  height: fit-content;
  min-height: 25vw;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
}

.inventory-container {
  padding: 1vh 1vw 1vh 1vw;
  width: 25vw;
  background-color: var(--secondary-background);
  height: fit-content;
  min-height: 25vw;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
}

.recipe-favorites-container {
  /* border: 1px solid yellow; */
  /* padding: 1vh 1vw 2vh 1vw; */
  /* width: 24vh; */
  /* background-color: var(--secondary-background); */
  height: fit-content;
  min-height: 25vw;
  /* border-radius: 8px; */
  /* box-shadow: 5px 5px 10px black; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding-bottom: 1vh;
}

.ingredient-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
  border-radius: 3px;
  background-color: var(--primary-background);
  height: 1.5em;
  padding: 0 1vw 0 1vw;
}

.ingredient-button {
  border: none;
  background-color: var(--secondary-button);
  height: 1.4em;
  width: 1.5em;
  border-radius: 3px;
  font-size: 0.75em;
}

.ingredient-button:hover {
  cursor: pointer;
  background-color: var(--primary-accent);
}

.subtitle {
  margin-bottom: 0.5em;
  text-align: center;
}

.search-container {
  /* border: 2px solid pink; */
  width: 50vw;
  height: 91vh;
  margin: 2vh 2vw 2vh 2vw;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.search-bar {
  border-radius: 8px;
  padding: 1vh 1vw 1vh 1vw;
  margin-bottom: 2vh;
  width: 90%;
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 10px black;
}

.search-results-container {
  border-radius: 8px;
  padding: 1vh 1vw 1vh 1vw;
  background-color: var(--secondary-background);
  width: 90%;
  height: 90%;
  box-shadow: 5px 5px 10px black;
}

.search-results-placeholder {
  text-align: center;
}

.search-field {
  color: var(--primary-accent);
  border-radius: 5px;
  margin-top: 0.5em;
  padding-left: 1em;
}

.recipe-list-container {
  /* border: 2px solid pink; */
  width: 96vw;
  min-height: 91vh;
  margin: 2vh 2vw 2vh 2vw;
  padding: 2vh 2vw 2vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-tile-container {
  border-radius: 8px;
  /* padding: 1vh 1vw 1vh 1vw; */
  padding-right: 1vw;
  width: 61vw;
  background-color: var(--secondary-background);
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: flex-start;
  /* align-items: baseline; */
  box-shadow: 5px 5px 10px black;
  height: fit-content;
  padding-bottom: 1vh;
}

.recipe-tile {
  /* border: 2px solid green; */
  margin: 1vh 0 0 1vw;
  position: relative;
  height: 20vh;
  border-radius: 8px;
  /* border: 1px solid pink; */
  box-shadow: 5px 5px 10px black;
}

.recipe-tile-img {
  height: 20vh;
  /* padding: 1vh 1vw 1vh 1vw; */
  border-radius: 8px;
  /* border: 1px solid green; */
}

.recipe-tile-text {
  position: absolute;
  top: 2vh;
  text-align: center;
  border-radius: 8px;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  width: 16vh;
  margin: 0 2vh 0 2vh;
  box-shadow: 5px 5px 10px black;
  /* border: 1px solid red; */
}

.recipe-detail-container {
  display: flex;
  justify-content: space-evenly;
}

.margin-top {
  margin-top: 1vh;
}

.margin-right {
  margin-right: 1vw;
}

.recipe-tile-default-text {
  /* border: 1px solid pink; */
  width: 100%;
  margin-top: 2vh;
}

.login-register {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  border: 1px solid #313131;
  background-color: #333;
  border-radius: 8px;
  margin: 20px auto; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


h1 {
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-group {
  width: 100%;
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input {
  min-width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: gray;
}

input::placeholder {
  color: gray;
}

input:focus {
  border-color: #333;
  outline: none;
}

.form-button {
  padding: 10px 20px;
  background-color: var(--secondary-button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.form-button:hover {
  border: 1px solid var(--secondary-button);
}

.switch-to-register {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-button);
  font-size: medium;
}

.switch-to-register:hover {
  text-decoration: underline;
}

.margin-top {
  margin-top: 8px;
}

.error-message {
  color: red;
}